out
dist
node_modules
.vscode-test/
*.vsix


.vscode/**
.vscode-test/**
node_modules/**
.yarnrc

**/.vscode-test.*
package-robust.js
test-packaging.js
build-and-test.sh
build-milestone1.sh
arbitrum-stylus-extension/**

